*.o
/fancy_cui
/fancy_cui.exe
/CMakeCache.txt
/CMakeFiles
/Makefile
/cmake_install.cmake
*.sln
*.sdf
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
/ipch
/Debug
/Release
/Win32
/fancy_cui.dir
